body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 5%;
}

.alert {
    margin-top: 15px;
}

button {
    margin-right: 20px;
}

.form-group {
    margin-top: 20px;
}

.form-group input {
    margin: 10px;
    margin-left: 0;
}